<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Atualizar Produtos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/estilo.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/cadastrar.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
	<%- include('../partials/header') %>

		<h1 class="titulo">Alterar Produtos</h1>
		<div class="cadastro">
			<form action="/alterar/<%= produto.id_produto %>?_method=PUT" method="post">
				<div class="field">
					<label class="l1" for="nome"><strong>Nome do Produto</strong></label>
					<input class="campo" type="text" id="nome" name="nome" value="<%= produto.nome %>">
				</div>
				<div class="field">
					<label class="l1" for="slug"><strong>Slug</strong></label>
					<input class="campo" type="text" id="slug" name="slug" value="<%= produto.slug %>">
				</div>
				<div class="field">
					<label class="l1" for="preco"><strong>Preço do Produto</strong></label>
					<input class="campo" type="number" id="preco" name="preco" value="<%= produto.preco %>">
				</div>
				<div class="field">
					<label class="l1" for="categoria"><strong>Categoria Do Produto</strong></label>
					<select class="campo" type="text" id="categoria" name="categoria">
						<% categorias.forEach(function(cat){ %>
							<option value="<%=cat.id_categoria%>"><%=cat.nome%></option>
						<% }) %>
					</select>
				</div>	
				<div class="div">
					<label class="l1" for="descricao"><strong>Descrição do Produto</strong></label>
					<input class="campo" type="text" id="descricao" name="descricao" value="<%= produto.descricao %>">
				</div>
				<button class="bt-cadastro" type="submit">Salvar Alterações</button>
			</form>
		</div>
		<%- include('../partials/footer') %>

</body>