<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Atualizar Usuário</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/estilo.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/cadastrar.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
	<!-- header -->
	<%- include('../partials/header') %>

	<% if(!(typeof message == 'undefined')){ %>
		<div class="alert alert-<%= type %>" role="alert">
			<%= message %>
		</div>
	 <% } %>

	<h1 class="titulo">Perfil do Usuário</h1>
	<div class="container">
		<h3 class="p-3">Alterar Dados</h3>
		<form action="/users/alterar/<%= cliente.id %>?_method=PUT" method="post">
			<div class="field">
				<label class="l1" for="nome"><strong>Nome</strong></label>
				<input class="campo" type="text" id="nome" name="nome" value="<%= cliente.nome %>" required>
			</div>
			<div class="field">
				<label class="l1" for="email"><strong>email</strong></label>
				<input class="campo" type="email" id="email" name="email" value="<%= cliente.email %>" required>
			</div>
			<div class="field">
				<label class="l1" for="senha"><strong>senha</strong></label>
				<input class="campo" type="password" id="senha" name="senha" required>
			</div>

			<hr>
			<h3 class="my-4">Informações</h3>
			<div class="field">
				<label class="l1" for="estado"><strong>Estado</strong></label>
				<input class="campo" type="estado" id="estado" name="estado" value="<%= cliente.estado %>" required>
			</div>
			<div class="field">
				<label class="l1" for="cidade"><strong>Cidade</strong></label>
				<input class="campo" type="cidade" id="cidade" name="cidade" value="<%= cliente.cidade %>" required>
			</div>
			<div class="field">
				<label class="l1" for="endereco"><strong>Endereço</strong></label>
				<input class="campo" type="endereco" id="endereco" name="endereco" value="<%= cliente.endereco %>" required>
			</div>
			<div class="field">
				<label class="l1" for="telefone"><strong>Telefone</strong></label>
				<input class="campo" type="telefone" id="telefone" name="telefone" value="<%= cliente.telefone %>" required>
			</div>
			<button class="bt-cadastro" type="submit">Salvar Alterações</button>
		</form>
	</div>

	<div class="container">
		<div class="text-center">
			<form action="/users/deletar/<%= cliente.id %>?_method=DELETE" method="post"> <!-- method-override para deletar -->
				<button type="submit" class="mt-3 btn btn-danger text-white" >Excluír Usuário</button>
			</form>

		</div>
	</div>
	<!-- footer -->
	<%- include('../partials/footer') %>

</body>